body {
    font-size: 24px
    
}
html
{
    background-color: whitesmoke;
    color: black
    
}
main
 {
    font-style: italic;
border: 5px solid white
}
p {
    color: rgb(209, 26, 26)
}


